<div class="container mt-5">
  <div style="text-align: center;">

    @if (!registerMode) {
      <h1 class="text-secondary">Find your match</h1>
      <p class="lead text-secondary">Join us to discover your perfect matches – just sign up and start connecting!</p>
      <div class="text-center">
          <button mat-button (click)="registerToggle()" class="btn btn-dark me-2">Register</button>
          <button mat-button class="btn btn-info me-2">Learn more</button>
      </div>
    } @else {
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-4">
            <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
          </div>
        </div>
      </div>
    }
  </div>
</div>
