<div class="signup-container">
  <h1 class="text-center text-secondary">Sign up</h1>

  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="signup-form">
    <div class="mb-3 form-floating">
      <input 
        type="text"
        class="form-control"
        name="username"
        formControlName="username"
        placeholder="Username"
      >
      <label>Username</label>
    </div>
    <div class="mb-3 form-floating">
      <input 
        type="password"
        class="form-control"
        name="password"
        formControlName="password"
        placeholder="Password"
      >
      <label>Password</label>
    </div>

    <mat-error class="mb-3" *ngIf="error !== ''">
      {{ error }}
    </mat-error>
    <div class="form-group text-center">
      <button mat-raised-button color="primary" type="submit" [disabled]="signupForm.invalid">
        Register
      </button>
      <button mat-raised-button color="primary" type="cancel" (click)="cancel()">
        Cancel
      </button>
    </div>
  </form>
</div>

