<div class="signup-container">
  <h1 class="signup-title">Sign up</h1>

  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="signup-form">
    <mat-form-field class="form-field">
      <input
        matInput
        formControlName="username"
        placeholder="Username"
        required
      />
      <mat-error *ngIf="signupForm.get('username')?.hasError('required')">
        Username is required
      </mat-error>
      <mat-error *ngIf="signupForm.get('username')?.hasError('minlength')">
        Minimum 4 characters required
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field">
      <input
        matInput
        type="password"
        formControlName="password"
        placeholder="Password"
        required
      />
      <mat-error *ngIf="signupForm.get('password')?.hasError('required')">
        Password is required
      </mat-error>
      <mat-error *ngIf="signupForm.get('password')?.hasError('minlength')">
        Minimum 6 characters required
      </mat-error>
    </mat-form-field>

    <mat-error class="mb-3" *ngIf="error !== ''">
      {{ error }}
    </mat-error>
    <button mat-raised-button color="primary" type="submit" [disabled]="signupForm.invalid">
      Register
    </button>
    <button mat-raised-button color="primary" type="cancel" (click)="cancel()">
      Cancel
    </button>
  </form>
</div>

